[submodule "djangoTask"]
	path = djangoTask
	url = https://github.com/DJTakushi/djangoTask.git
[submodule "dblog"]
	path = dblog
	url = https://github.com/DJTakushi/dblog.git
[submodule "neatApi"]
	path = neatApi
	url = https://github.com/DJTakushi/neatApi.git
