{% extends "takushi/base.html"  %}
{% block title %}{% verbatim %}{{ page.title }}{% endverbatim %}{% endblock %}
{% block navActive %}"dblog"{% endblock %}

{% block header %}
{% load static %}
  <link rel="icon" type="image/x-icon" href="{% static 'dblog/images/favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'dblog/css/dblogStyles.css' %}">
{% verbatim %}
{% if layout.customcss %}
  <link rel="stylesheet" href="/static/dblog/css/{{layout.customcss}}">
{% else %}
  <link rel="stylesheet" href="/static/dblog/css/indexStyles.css">
{% endif %}
{% endverbatim %}
{% verbatim %}
{% feed_meta %}
{% seo %}
{% endverbatim %}
{% endblock %}


{% block content %}
<div class="container-content">
{% verbatim %}
<div class="blogContainer">
  <div class="posttitle">
  {% include navigation.html %}
  </div>
    {{ content }}
</div>
{% endverbatim %}
</div>
{% endblock %}
