{% extends "takushi/base.html"  %}
{% block title %}takushi{% endblock %}
{% block navActive %}"index"{% endblock %}
{% block content %}
{% if message_t %}
<div class = "container-fluid">
<p>{{ message_t }}</p>
</div>
{% endif %}
  <div class="row">
    <div class = "col-sm-9">
      <div class= "container-content container-content-trans-1 blogFrame">
        <a href = "{% url 'dblog' %}"><h1 class="center">Blog</h1></a>
        <div id="dannyBlog"></div>
      </div>
    </div>

    <div class = "col-sm-3">
      <div class= "container-content container-content-trans-2">
      <a href = "{% url 'about' %}"><h1 class="center">About</h1></a>
      <div id="aboutFrame"></div>
      <br>
      <a href="{% url 'about' %}">(more)</a>
      </div>
    </div>

  </div>
  <script>
  $( "#aboutFrame" ).load( "{% url 'about' %} #coreContent" );
  $( "#dannyBlog" ).load( "{% url 'dblog' %} #blogList" );
  </script>

{% endblock %}
