{% extends "takushi/base.html"  %}
{% block title %}takushi{% endblock %}
{% block navActive %}"index"{% endblock %}
{% load static %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'dblog/css/dblogStyles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dblog/css/indexStyles.css' %}">
<link rel="icon" type="image/x-icon" href="{% static 'takushi/images/favicon.ico' %}">
{% endblock %}

{% block content %}
{% if message_t %}
<div class = "container-fluid">
<p>{{ message_t }}</p>
</div>
{% endif %}
  <div class="row">
    <div class = "col-sm-8">
      <div class= "container-content container-content-trans-1 blogFrame">
        <a href = "{% url 'dblog' %}"><h1 class="center">Blog</h1></a>
        <div id="dannyBlog" class="blogContainer"></div>
      </div>
    </div>

    <div class = "col-sm-4">
      <div class= "container-content container-content-trans-2">
      <a href = "{% url 'about' %}"><h1 class="center">About</h1></a>
      <div id="aboutFrame"></div>
      <br>
      <a href="{% url 'about' %}">(more)</a>
      </div>

      <div class="container-content container-content-trans-1" style="margin-top:10px">
        <div id="funboxContent">
          <table class="table table-striped table-hover table-sm tableFun">
            <tr>
              <th>City</th>
              <th>Time</th>
              <th>Cond.</th>
              <th>Temp</th>
              <th>Humid.</th>
            </tr>
            {% for city in cityList %}
              <tr class="cityRow" id="{{city}}" >
                <td style="vertical-align:middle"><a href="https://en.wikipedia.org/wiki/{{ city}}">{{ city }}</a></td>
                <td style="vertical-align:middle" class="time"></td>
                <td style="vertical-align:middle"><img class="conditionIcon"></td>
                <td style="vertical-align:middle" class="temperature"></td>
                <td style="vertical-align:middle" class="humidity"></td>
              </tr>
            {% endfor %}
            </table>
            <a href="https://www.weatherapi.com/" title="Free Weather API"><img src='//cdn.weatherapi.com/v4/images/weatherapi_logo.png' alt="Weather data by WeatherAPI.com" border="0" style="display:block;margin-left:auto;"></a>
        </div>
      </div>

      <div class="container-content container-content-trans-1" style="margin-top:10px">
        <div>
          <table class="table table-striped table-hover table-sm tableFun">
            <tr>
              <th>Symbol</th>
              <th>Latest</th>
              <th>Movement</th>
              <th>52Week</th>
            </tr>
            {% for symbol in symbolList %}
              <tr class="finRow" symbol="{{symbol}}" >
                <td style="vertical-align:middle">
                  <a href="https://finance.yahoo.com/quote//{{symbol}}">
                    {{symbol}}
                  </a>
                </td>
                <td style="vertical-align:middle" class="recent">-</td>
                <td style="vertical-align:middle" class="movement">-</td>
                <td style="vertical-align:middle" class="annual">-</td>
              </tr>
            {% endfor %}
            </table>
            Financial data supplied by <a href="https://pypi.org/project/yfinance/">yFinance</a>, a python open-source package that supplies data from Yahoo Finance.  It is maintained by <a href="https://pypi.org/user/ranaroussi/">Ran Aroussi</a>, and not affiliated with Yahoo Finance.  This data is supplied for novelty, and should not be used for anything.
        </div>
      </div>

    </div>

  </div>
  <script>
  $( "#aboutFrame" ).load( "{% url 'about' %} #coreContent" );
  $( "#dannyBlog" ).load( "{% url 'dblog' %} #blogList" );
  updateCities("{% url 'neatApiCities' %}");
  applyTimes();
  updateFin("{% url 'neatApiFins' %}");
  </script>

{% endblock %}
