container_commands:
  00_printStupidMessage:
    command: "print('LOOK MA!  I'M IN THE EC2!')"
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python takushi/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python takushi/manage.py createsu"
    leader_only: true
