{% extends "pyServerDemo/base.html"  %}
{% block title %}{% verbatim %}{{ page.title }}{% endverbatim %}{% endblock %}
{% block navActive %}"dblog"{% endblock %}

{% block header %}
{% load static %}
  <link rel="icon" type="image/x-icon" href="{% static 'dblog/images/favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'dblog/css/dblogStyles.css' %}">
{% verbatim %}
{% feed_meta %}
{% seo %}
{% endverbatim %}
{% endblock %}


{% block content %}
<div class="container-content">
{% verbatim %}
    {% include navigation.html %}
    {{ content }}
{% endverbatim %}
</div>
{% endblock %}
